/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 10px;
    overflow-x: hidden;
    height: 100%;
  }
  
  /* Header Styling */
  h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #2980b9;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #34495e;
    font-weight: 500;
  }
  
  /* Table Container */
  .table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 15px;
  }
  
  /* Table Styling */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 6px 10px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 0.85rem;
    color: #333;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis */
  }
  
  /* Order ID Specific Styling */
  td.order-id {
    width: 80px; /* Adjust the width as needed */
    max-width: 80px; /* Ensure it doesn't stretch */
    text-align: center; /* Center the text */
  }
  
  /* Truncate the Order ID to the first two characters */
  td.order-id::after {
    content: attr(data-id); /* Get the full Order ID */
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  th {
    background-color: #2980b9;
    color: #fff;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Action Buttons */
  button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #3498db;
    transform: translateY(-2px);
  }
  
  button:focus {
    outline: none;
  }
  
  /* Centering and Styling for Buttons */
  #generateReportButton, #logoutButton {
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Responsive Design for 425x320 screen */
  @media screen and (max-width: 425px) {
    h1 {
      font-size: 1.3rem;
    }
  
    h2 {
      font-size: 1rem;
    }
  
    table {
      font-size: 0.8rem;
    }
  
    th, td {
      padding: 5px 8px;
    }
  
    button {
      font-size: 0.85rem;
      padding: 8px 12px;
    }
  }
  