/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 10px;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Container for Form */
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #2980b9;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Input Fields Styling */
  .input-group {
    position: relative;
    margin: 10px 0;
  }
  
  .input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #2980b9;
  }
  
  input {
    width: 100%;
    padding: 10px 10px 10px 30px; /* Adjust padding to make space for icons */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  input:focus {
    border-color: #2980b9;
    outline: none;
  }
  
  /* Button Styling */
  button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #3498db;
    transform: translateY(-2px);
  }
  
  button:focus {
    outline: none;
  }
  
  /* Link Styling */
  p {
    margin-top: 10px;
  }
  
  a {
    color: #2980b9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  